# This is not a real Debian control file
# It's project metadata for the shipper tool

Package: reposurgeon

Description: A tool for editing version-control repository history.
 reposurgeon enables risky operations that version-control systems
 don't want to let you do, such as editing past comments and metadata
 and removing commits.  It works with any version control system that
 can export and import git fast-import streams, including git, hg,
 fossil, bzr, brz, darcs, bk, and RCS. There is import-only support for svn,
 CVS, SCCS, mtn, and p4. In particular this tool can be used to script
 the production of very high-quality conversions from Subversion to any
 VCS with write support.

Homepage: http://www.catb.org/~esr/reposurgeon

XBS-HTML-Target: index.html

XBS-Repository-URL: https://gitlab.com/esr/reposurgeon

XBS-IRC-Channel: irc://irc.oftc.net/#reposurgeon

XBS-OpenHub-URL: https://www.ohloh.net/p/reposurgeon

XBS-Debian-Packages: reposurgeon

XBS-Logo: reposturgeon.png

XBS-VC-Tag-Template: %(version)s

XBS-Validate: make check

XBS-Destination: mailto:foka@debian.org, mailto:cicku@fedoraproject.org
